.about-about {
    padding-top: 209px;
    padding-bottom: 143px;
    position: relative;
    &__bg {
        position: absolute;
        right: 48.8%;
        top: 68px;
        width: 976px;
        height: 929px;
        z-index: -1;
    }
    &__container {
        display: flex;
        justify-content: flex-end;
    }
    &__content {
        width: 672px;
    }
    &__title {
        color: $green;
        font-family: 'Yellowtail';
        font-size: 36px;
    }
    &__description {
        color: $dark;
        margin: 0;
        margin-top: 8px;
    }
    &__txt {
        margin-top: 14px;
        color: $dark-grey;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.65;
    }
    &__list {
        margin-top: 49px;
        margin-bottom: 58px;
        display: flex;
        gap: 65px;
    }
    &__item {
        display: flex;
        gap: 15px;
        border: 1px solid transparent;
        border-radius: 10px;
        transition: gap ease-in-out 0.3s, border-color ease-in-out 0.3s;
        &:hover {
            gap: 20px;
            border-color: $green;
        }
    }
    &__text {
        color: $dark;
        font-size: 25px;
        font-weight: 500;
    }
    @media only screen and (max-width: $laptop) {
        padding-top: 100px;
        padding-bottom: 100px;
        &__bg {
            display: none;
        }
        &__container {
            justify-content: center;
            align-items: center;
        }
    }
    @media only screen and (max-width: $mobile) {
        padding: 50px 15px;
        &__content {
            width: 378px;
        }
        &__title {
            font-size: 24px;
        }
        &__description {
            font-size: 24px;
        }
        &__txt {
            font-size: 14px;
        }
        &__list {
            flex-wrap: wrap;
            margin-top: 29px;
            margin-bottom: 28px;
            gap: 35px;
            padding-left: 15px;
        }
        &__text {
            font-size: 20px;
            max-width: 200px;
        }
        &__btn {
            display: flex;
            justify-content: center;
        }
    }
}
