<li class="products-item">
    <a href="" class="products-item__card link">
        <div class="products-item__header">
            <div class="products-item__category">Vegetable</div>
        </div>
        <div class="products-item__img">
            <img src="../../static/img/content/tomato.jpg" alt="" />
        </div>
        <div class="products-item__footer">
            <div class="products-item__name">Vegan Red Tomato</div>
            <div class="products-item__double">
                <div class="products-item__price">
                    <div class="products-item__sale">$20.00</div>
                    <div class="products-item__current">$17.00</div>
                </div>
                <ul class="products-item__stars">
                    <li class="products-item__star">{{Icon iconName='star' }}</li>
                    <li class="products-item__star">{{Icon iconName='star' }}</li>
                    <li class="products-item__star">{{Icon iconName='star' }}</li>
                    <li class="products-item__star">{{Icon iconName='star' }}</li>
                    <li class="products-item__star">{{Icon iconName='star' }}</li>
                </ul>
            </div>
        </div>
    </a>
</li>
