.products {
    padding-top: 176px;
    padding-bottom: 200px;
    &__title {
        color: $green;
        font-family: 'Yellowtail';
        font-size: 36px;
        text-align: center;
    }
    &__description {
        margin-top: 8px;
        color: $dark;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
    }
    &__list {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__btn {
        text-align: center;
        margin-top: 122px;
    }
}

.products-item {
    background-color: #f9f8f8;
    border-radius: 30px;
    transition: box-shadow ease-in-out 0.3s;
    &__header {
        padding: 30px;
        padding-bottom: 15px;
        position: relative;
        z-index: 2;
    }
    &__category {
        border-radius: 8px;
        background-color: $dark;
        padding: 5px 12px;
        color: #fff;
        display: inline;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 315px;
        position: relative;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__footer {
        padding: 17px 30px;
    }
    &__name {
        color: $dark;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 13px;
        border-bottom: 1px solid #dedddd;
    }
    &__double {
        margin-top: 6px;
        display: flex;
        gap: 81px;
    }
    &__price {
        display: flex;
        gap: 7px;
    }
    &__sale {
        color: #b8b8b8;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 600;
        padding-top: 3px;
        text-decoration: line-through;
    }
    &__current {
        color: $dark;
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 700;
    }
    &__stars {
        display: flex;
        gap: 3px;
        fill: #ffa858;
    }
    &:hover {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    }
    &:hover &__img {
        transform: translateY(-20px);
    }
}
