<section class="blue-banner">
    <div class="blue-banner__container container">
        <div
            class="blue-banner__picture"
            style="background-image: url(../../static/img/content/blue-photo.jpg)"
        ></div>
        <div class="blue-banner__content">
            <h2 class="blue-banner__txt">
                Subscribe to <br />
                our Newsletter
            </h2>
            <form action="" class="blue-banner__form">
                <div class="blue-banner__input">
                    <input type="text" placeholder="Your Email Address" />
                </div>
                <button class="blue-banner__btn btn btn--dark btn--inline">Subscribe</button>
            </form>
        </div>
    </div>
</section>
