<section class="offer">
    <div class="offer__container container">
        <div class="offer__content">
            <div class="pffer__txt">
                <div class="offer__title">Offer</div>
                <h2 class="offer__description">We Offer Organic For You</h2>
            </div>
            <div class="offer__button">
                <button class="offer__btn btn btn--yellow btn--inline">
                    View All Product {{Icon iconName='arrow-right' }}
                </button>
            </div>
        </div>
        <ul class="offer__list">
            {{> products/products-item-1}} {{> products/products-item-2}} {{> products/products-item-3}} {{>
            products/products-item-4}}
        </ul>
    </div>
</section>
