.offer {
    padding-top: 201px;
    padding-bottom: 200px;
    background-color: $dark;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        color: $green;
        font-family: 'Yellowtail';
        font-size: 36px;
    }
    &__description {
        color: #fff;
        margin: 0;
        margin-top: 8px;
    }

    &__list {
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
    @media only screen and (max-width: $laptop) {
        padding: 100px 0;
        &__content {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            text-align: center;
        }
    }
    @media only screen and (max-width: $mobile) {
        padding: 30px 0;
        &__title {
            font-size: 25px;
        }
        &__description {
            font-size: 42px;
        }
        &__button {
            display: none;
        }
        &__list {
            margin-top: 30px;
        }
    }
}

.products-item {
    background-color: #f9f8f8;
    border-radius: 30px;
    &__header {
        padding: 30px;
        padding-bottom: 15px;
    }
    &__category {
        border-radius: 8px;
        background-color: $dark;
        padding: 5px 12px;
        color: #fff;
        display: inline;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 315px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__footer {
        padding: 17px 30px;
    }
    &__name {
        color: $dark;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 13px;
        border-bottom: 1px solid #dedddd;
    }
    &__double {
        margin-top: 6px;
        display: flex;
        gap: 81px;
    }
    &__price {
        display: flex;
        gap: 7px;
    }
    &__sale {
        color: #b8b8b8;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 600;
        padding-top: 3px;
        text-decoration: line-through;
    }
    &__current {
        color: $dark;
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 700;
    }
    &__stars {
        display: flex;
        gap: 3px;
        fill: #ffa858;
    }
}
