.blackberry-hero {
    background-image: url(../../static/img/content/background-image-page-eight.jpg);
    height: 898px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media only screen and (max-width: $laptop) {
        height: 454px;
    }
}
