<section class="not-found-hero">
    <div class="not-found-hero__container container">
        <div class="not-found-hero__block">
            <div class="not-found-hero__number">
                <img src="../../static/img/content/404.png" alt="" class="not-found-hero__img" />
            </div>
            <h1 class="not-found-hero__title">Page not found</h1>
            <div class="not-found-hero__txt">
                The page you are looking for doesn't exist or has been moved
            </div>
            <div class="not-found-hero__btn">
                <button class="btn btn--dark btn--inline">
                    Go to Homepage {{Icon iconName='arrow-right' }}
                </button>
            </div>
        </div>
    </div>
</section>
