<section class="portfolio-list">
    <div class="portfolio-list__container container">
        <div class="portfolio-list__content">
            <ul class="portfolio-list__list">
                <li class="portfolio-list__item">
                    <div class="portfolio-list__img">
                        <img src="../../static/img/content/lemon-fiolet.jpg" alt="" />
                        <a href="" class="portfolio-list__hover">{{Icon iconName='arrow-circle' }}</a>
                    </div>
                    <div class="portfolio-list__block">
                        <div class="portfolio-list__title">Green & Tasty Lemon</div>
                        <div class="portfolio-list__description">Fruits</div>
                    </div>
                </li>
                <li class="portfolio-list__item">
                    <div class="portfolio-list__img">
                        <img src="../../static/img/content/carrot-orange.jpg" alt="" />
                        <a href="" class="portfolio-list__hover">{{Icon iconName='arrow-circle' }}</a>
                    </div>
                    <div class="portfolio-list__block">
                        <div class="portfolio-list__title">Organic Carrot</div>
                        <div class="portfolio-list__description">Farmer</div>
                    </div>
                </li>
                <li class="portfolio-list__item">
                    <div class="portfolio-list__img">
                        <img src="../../static/img/content/tree-green.jpg" alt="" />
                        <a href="" class="portfolio-list__hover">{{Icon iconName='arrow-circle' }}</a>
                    </div>
                    <div class="portfolio-list__block">
                        <div class="portfolio-list__title">Organic Betel Leaf</div>
                        <div class="portfolio-list__description">Leaf</div>
                    </div>
                </li>
                <li class="portfolio-list__item">
                    <div class="portfolio-list__img">
                        <img src="../../static/img/content/tomato-green.jpg" alt="" />
                        <a href="" class="portfolio-list__hover">{{Icon iconName='arrow-circle' }}</a>
                    </div>
                    <div class="portfolio-list__block">
                        <div class="portfolio-list__title">Natural Tommato</div>
                        <div class="portfolio-list__description">Fruits</div>
                    </div>
                </li>
                <li class="portfolio-list__item">
                    <div class="portfolio-list__img">
                        <img src="../../static/img/content/blackberry-black.jpg" alt="" />
                        <a href="" class="portfolio-list__hover">{{Icon iconName='arrow-circle' }}</a>
                    </div>
                    <div class="portfolio-list__block">
                        <div class="portfolio-list__title">Black Raspberry</div>
                        <div class="portfolio-list__description">Farmer</div>
                    </div>
                </li>
                <li class="portfolio-list__item">
                    <div class="portfolio-list__img">
                        <img src="../../static/img/content/lemon-yellow.jpg" alt="" />
                        <a href="" class="portfolio-list__hover">{{Icon iconName='arrow-circle' }}</a>
                    </div>
                    <div class="portfolio-list__block">
                        <div class="portfolio-list__title">Honey Orange</div>
                        <div class="portfolio-list__description">Farmer</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
