.portfolio-list {
    margin-top: 150px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__item {
        width: calc(100% / 3 - 24px + 24px / 3);
    }
    &__img {
        width: 100%;
        overflow: hidden;
        border-radius: 30px;
        position: relative;
    }
    &__hover {
        opacity: 0;
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.91);
        transition: opacity ease-in-out 0.3s;
    }

    &__item:hover &__hover {
        opacity: 1;
    }
    &__title {
        margin-top: 18px;
        font-size: 25px;
        font-weight: 800;
    }
    &__description {
        margin-top: 2px;
        color: $green;
        font-family: 'Yellowtail';
        font-size: 22px;
    }
}
