<section class="team">
    <div class="team__container container">
        <div class="team__title">Team</div>
        <h2 class="team__description">Our Organic Experts</h2>
        <div class="team__text">
            Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
            industry's <br />
            standard dummy text ever since the 1500s, when an unknown printer took a galley.
        </div>
        <ul class="team__list">
            {{> team/team-item-1}} {{> team/team-item-2}} {{> team/team-item-3}}
        </ul>
    </div>
</section>
