<li class="team__item">
    <div class="team__img">
        <img src="../../static/img/content/keirak-nightley.jpg" alt="" />
    </div>
    <div class="team__block">
        <div class="team__wripper">
            <div class="team__name">Keira Knightley</div>
            <div class="team__profession">Farmer</div>
        </div>
        <ul class="team__socials--list">
            <li class="team__socials--item">
                <a href="" class="team__socials--link">{{Icon iconName='instagram' }}</a>
            </li>
            <li class="team__socials--item">
                <a href="" class="team__socials--link">{{Icon iconName='fasebook' }}</a>
            </li>
            <li class="team__socials--item">
                <a href="" class="team__socials--link">{{Icon iconName='twitter' }}</a>
            </li>
        </ul>
    </div>
</li>
