<section class="services-grow">
    <div class="services-grow__container container">
        <div class="services-grow__title">What we Grow</div>
        <h2 class="services-grow__description">Better Agriculture for Better Future</h2>
        <div class="services-grow__content">
            <div class="services-grow__block services-grow__block--one">
                <ul class="services-grow__list">
                    <li class="services-grow__item">
                        <div class="services-grow__img">
                            <img src="../../static/img/content/milk.png" alt="" />
                        </div>
                        <div class="services-grow__txt">Dairy Products</div>
                        <div class="services-grow__text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                            doloremqlaudantium. Sed ut perspiciatis
                        </div>
                    </li>
                    <li class="services-grow__item">
                        <div class="services-grow__img">
                            <img src="../../static/img/content/shop.png" alt="" />
                        </div>
                        <div class="services-grow__txt">Store Services</div>
                        <div class="services-grow__text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                            doloremqlaudantium Sed ut perspiciatis.
                        </div>
                    </li>
                    <li class="services-grow__item">
                        <div class="services-grow__img">
                            <img src="../../static/img/content/car.png" alt="" />
                        </div>
                        <div class="services-grow__txt">Delivery Services</div>
                        <div class="services-grow__text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                            doloremqlaudantium Sed ut perspiciatis.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="services-grow__block services-grow__block--img">
                <img src="../../static/img/content/packet-hazelnuts.jpg" alt="" />
            </div>
            <div class="services-grow__block services-grow__block--two">
                <ul class="services-grow__list">
                    <li class="services-grow__item">
                        <div class="services-grow__img">
                            <img src="../../static/img/content/green-tree.png" alt="" />
                        </div>
                        <div class="services-grow__txt">Agricultural Services</div>
                        <div class="services-grow__text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                            doloremqlaudantium. Sed ut perspiciatis.
                        </div>
                    </li>
                    <li class="services-grow__item">
                        <div class="services-grow__img">
                            <img src="../../static/img/content/bag.png" alt="" />
                        </div>
                        <div class="services-grow__txt">Organic Products</div>
                        <div class="services-grow__text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                            doloremqlaudantium. Sed ut perspiciatis.
                        </div>
                    </li>
                    <li class="services-grow__item">
                        <div class="services-grow__img">
                            <img src="../../static/img/content/beet.png" alt="" />
                        </div>
                        <div class="services-grow__txt">Fresh Vegetables</div>
                        <div class="services-grow__text">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                            doloremqlaudantium. Sed ut perspiciatis.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="services-grow__btn">
            <button class="btn btn--white btn--bordered btn--inline">
                Explore More {{Icon iconName='arrow-right' }}
            </button>
        </div>
    </div>
</section>
