.services-grow {
    margin-top: 202px;
    &__title {
        color: $green;
        font-family: 'Yellowtail';
        font-size: 36px;
        text-align: center;
    }
    &__description {
        margin: 0;
        margin-top: 6px;
        text-align: center;
    }
    &__content {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: flex-end;
    }
    &__block {
        &--one,
        &--two {
            padding-bottom: 181px;
            position: relative;
            z-index: 2;
        }
        &--one {
            text-align: end;
        }
        &--two {
            text-align: start;
        }
        &--img {
            width: 605px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 39px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__txt {
        font-size: 25px;
        font-weight: 500;
    }
    &__text {
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.65;
    }
    &__btn {
        text-align: center;
        margin-top: -40px;
    }
    @media only screen and (max-width: $laptop) {
        margin-top: 100px;
        &__content {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__block {
            &--img {
                display: none;
            }
        }
    }
    @media only screen and (max-width: $mobile) {
        margin: 0;
        padding: 50px 15px;
        &__title {
            font-size: 24px;
        }
        &__description {
            font-size: 24px;
        }
        &__item {
            justify-content: center;
            align-items: center;
            padding: 15px 15px;
        }
        &__txt {
            font-size: 24px;
        }
        &__text {
            font-size: 14px;
        }
    }
}
