<section class="single-health">
    <div class="single-health__container container">
        <div class="single-health__blocks">
            <div class="single-health__block">
                <div class="single-health__tag">Millets</div>
                <div class="single-health__img">
                    <img src="../../static/img/content/hazelnut-nut.jpg" alt="" />
                </div>
            </div>
            <div class="single-health__content">
                <div class="single-health__title">Health Pistachios</div>
                <div class="single-health__stars">
                    <ul class="single-health__list">
                        <li class="single-health__item">{{Icon iconName='star' }}</li>
                        <li class="single-health__item">{{Icon iconName='star' }}</li>
                        <li class="single-health__item">{{Icon iconName='star' }}</li>
                        <li class="single-health__item">{{Icon iconName='star' }}</li>
                        <li class="single-health__item">{{Icon iconName='star' }}</li>
                    </ul>
                </div>
                <div class="single-health__price">
                    <div class="single-health__sale">$20.00</div>
                    <div class="single-health__current">$13.00</div>
                </div>
                <div class="single-health__text">
                    Simply dummy text of the printing and typesetting industry. <br />
                    Lorem had ceased to been the industry's standard dummy <br />
                    text ever since the 1500s, when an unknown printer took a galley.
                </div>
                <form action="" class="single-health__form">
                    <div class="single-health__quantity">Quantity :</div>
                    <div>
                        <input type="number" class="single-health__number" />
                    </div>
                    <button class="single-health__btn btn btn--dark btn--inline">
                        Add To Cart {{Icon iconName='arrow-right' }}
                    </button>
                </form>
            </div>
        </div>
        <div class="single-health__wrapper">
            <div class="single-health__buttons">
                <button class="btn btn--inline btn--dark">Product Description</button>
                <button class="btn btn--inline btn--light">Additional Info</button>
            </div>
            <div class="single-health__txt">
                Welcome to the world of natural and organic. Here you can discover the bounty of nature. We
                have grown on the principles of health, ecology, and care. We aim to give our customers a
                healthy chemical-free meal for perfect nutrition. It offers about 8–10% carbs. Simple sugars —
                such as glucose and fructose — make up 70% and 80% of the carbs in raw.
            </div>
        </div>
        <h2 class="single-health__description">Related Products</h2>
        <ul class="single-health__cnt">
            {{> products/products-item-1}} {{> products/products-item-2}} {{> products/products-item-3}} {{>
            products/products-item-4}}
        </ul>
    </div>
</section>
