<section class="blackberry-content">
    <div class="blackberry-content__container container">
        <div class="blackberry-content__block">
            <div class="blackberry-content__left left">
                <h1 class="left__title">Black Raspberry</h1>
                <div class="left__description">
                    Established fact that a reader will be distracted by the readable content of a page <br />
                    when looking a layout. The point of using Lorem Ipsum is that it has a more-or-less <br />
                    normal distribution of letters, as opposed
                </div>
            </div>
            <div class="blackberry-content__right right">
                <ul class="right__list">
                    <li class="right__item">
                        <div class="right__item__name">Date</div>
                        <div class="right__item__volue">December 4, 2022</div>
                    </li>
                    <li class="right__item">
                        <div class="right__item__name">Client</div>
                        <div class="right__item__volue">Kevin Martin</div>
                    </li>
                    <li class="right__item">
                        <div class="right__item__name">Category</div>
                        <div class="right__item__volue">Agriculture , Eco</div>
                    </li>
                    <li class="right__item">
                        <div class="right__item__name">Service</div>
                        <div class="right__item__volue">Organic Products</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
