<section class="shop-products">
    <div class="shop-products__container container">
        <ul class="shop-products__list">
            {{> products/products-item-1}} {{> products/products-item-2}} {{> products/products-item-3}} {{>
            products/products-item-4}} {{> products/products-item-1}} {{> products/products-item-2}} {{>
            products/products-item-3}} {{> products/products-item-4}} {{> products/products-item-1}} {{>
            products/products-item-2}} {{> products/products-item-3}} {{> products/products-item-4}}
        </ul>
    </div>
</section>
