.about-products {
    margin-top: 202px;
    background-color: $dark;
    padding: 188px 0;
    &__title {
        color: $green;
        font-family: 'Yellowtail';
        font-size: 36px;
        text-align: center;
    }
    &__descriotion {
        margin: 0;
        color: #fff;
        margin-top: 8px;
        text-align: center;
    }
    &__list {
        margin-top: 33px;
        display: flex;
        gap: 21px;
    }
    @media only screen and (max-width: $laptop) {
        margin-top: 100px;
        padding: 50px;
        &__title {
            font-size: 26px;
        }
        &__list {
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}
