<ul class="contacts__list">
    <li class="contacts__item">
        <div class="contacts__title">Email</div>
        <a class="contacts__value" href="mailto:needhelp@Organia.com">needhelp@Organia.com</a>
    </li>
    <li class="contacts__item">
        <div class="contacts__title">Phone</div>
        <a class="contacts__value" href="tel:666 888 888">666 888 888</a>
    </li>
    <li class="contacts__item">
        <div class="contacts__title">Address</div>
        <div class="contacts__value">88 road, borklyn street, USA</div>
    </li>
</ul>
