<section class="services-flowers">
    <div class="services-flowers__container container">
        <div class="services-flowers__content">
            <div class="services-flowers__title">Organic Only</div>
            <h2 class="services-flowers__description">Everyday Fresh & Clean</h2>
            <div class="services-flowers__txt">
                Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
                industry's standard dummy text ever since the
            </div>
            <button class="services-flowers__btn">{{Icon iconName='playbutton' }}</button>
        </div>
    </div>
</section>
