.quality-store {
    margin-top: 182px;
    &__content {
        max-width: 936px;
        margin: 0 auto;
        margin-top: 78px;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    &__title {
        margin: 0;
    }
    &__txt {
        margin-top: 28px;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.65;
    }
    &__block--two {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    &__block {
        display: flex;
        gap: 20px;
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
    &__bl {
        background-color: $light-grey;
        border-radius: 20px;
        padding: 63px 45px;
    }
    &__info {
        font-size: 25px;
        font-weight: 500;
    }
    &__paragrap {
        margin-top: 7px;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.65;
    }
    &__descriprion {
        margin: 0;
    }
    &__wrap {
        margin-top: 59px;
        display: flex;
        gap: 28px;
    }
    &__wrapper {
        background-color: $light-grey;
        padding: 15px 53px 15px 17px;
        border-radius: 100px;
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        transition: gap ease-in-out 0.3s, border-color ease-in-out 0.3s;
        &:hover {
            gap: 30px;
            border-color: $green;
        }
    }
    &__number {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        background-color: $green;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        font-size: 25px;
        font-weight: 600;
    }
}
