<section class="organics">
    <ul class="organics__list">
        <li class="organics__item">
            <a href="">
                <div class="organics__img">
                    <img src="../../static/img/content/yellow-photo.jpg" alt="" />
                </div>
                <div class="organics__txt">Organic Juice</div>
            </a>
        </li>
        <li class="organics__item">
            <a href="">
                <div class="organics__img">
                    <img src="../../static/img/content/green-photo.jpg" alt="" />
                </div>
                <div class="organics__txt">Organic Food</div>
            </a>
        </li>
        <li class="organics__item">
            <a href="">
                <div class="organics__img">
                    <img src="../../static/img/content/brown-photo.jpg" alt="" />
                </div>
                <div class="organics__txt">Nuts Cookis</div>
            </a>
        </li>
    </ul>
</section>
