.hero {
    background-image: url(../../static/img/content/background-image-page-one.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 228px;
    padding-bottom: 246px;
    &__block {
        max-width: 530px;
    }
    &__txt {
        color: #68a47f;
        font-family: 'Yellowtail';
        font-size: 36px;
        margin-bottom: 8px;
    }
    &__title {
        color: $dark;
        margin: 0;
        margin-bottom: 23px;
    }

    @media only screen and (max-width: $laptop) {
        padding: 100px 0;
        &__title {
            font-size: 50px;
        }
    }
    @media only screen and (max-width: $mobile) {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        &:after {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.5);
            content: '';
        }
        &__title {
            font-size: 42px;
        }
    }
}
