<section class="about-green">
    <div class="about-green__container container">
        <div class="about-green__block">
            <div class="about-green__content">
                <div class="about-green__title">Why Choose us?</div>
                <h2 class="about-green__description">
                    We do not buy from the <br />
                    open market & traders.
                </h2>
                <div class="about-green__text">
                    Simply dummy text of the printing and typesetting industry. Lorem had ceased <br />
                    to been the industry's standard the 1500s, when an unknown
                </div>
                <div class="about-green__grey">{{Icon iconName='circle' }} 100% Natural Product</div>
                <div class="about-green__txt">
                    Simply dummy text of the printing and typesetting <br />
                    industry Lorem Ipsum
                </div>
                <div class="about-green__grey">{{Icon iconName='circle' }} Increases resistance</div>
                <div class="about-green__txt">
                    Filling, and temptingly healthy, our Biona Organic <br />
                    Granola with Wild Berries is just the thing
                </div>
            </div>
            <div class="about-green__img">
                <img src="../../static/img/content/green-lemon.jpg" alt="" />
            </div>
        </div>
        <ul class="about-green__list">
            <li class="about-green__item">
                <div class="about-green__img">
                    <img src="../../static/img/content/basket-arrow.png" alt="" />
                </div>
                <div class="about-green__advantage">Return Policy</div>
                <div class="about-green__details">
                    Simply dummy text of <br />
                    the printintypesetting industry.
                </div>
            </li>
            <li class="about-green__item">
                <div class="about-green__img">
                    <img src="../../static/img/content/green.png" alt="" />
                </div>
                <div class="about-green__advantage">100% Fresh</div>
                <div class="about-green__details">
                    Simply dummy text of <br />
                    the printintypesetting industry.
                </div>
            </li>
            <li class="about-green__item">
                <div class="about-green__img">
                    <img src="../../static/img/content/clock.png" alt="" />
                </div>
                <div class="about-green__advantage">Support 24/7</div>
                <div class="about-green__details">
                    Simply dummy text of <br />
                    the printintypesetting industry.
                </div>
            </li>
            <li class="about-green__item">
                <div class="about-green__img">
                    <img src="../../static/img/content/card.png" alt="" />
                </div>
                <div class="about-green__advantage">Secured Payment</div>
                <div class="about-green__details">
                    Simply dummy text of <br />
                    the printintypesetting industry.
                </div>
            </li>
        </ul>
    </div>
</section>
