.about {
    background-color: #f9f8f8;
    padding-top: 87px;
    padding-bottom: 113px;
    background-image: url(../../static/img/content/fruits.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1067px;
}
