.about {
    background-color: #f9f8f8;
    padding-top: 87px;
    padding-bottom: 113px;
    background-image: url(../../static/img/content/fruits.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1067px;
    &__content {
        padding-left: 700px;
        padding-top: 186px;
    }
    &__title {
        color: $green;
        font-family: 'Yellowtail';
        font-size: 36px;
    }
    &__description {
        color: $dark;
        margin: 0;
        margin-top: 8px;
    }
    &__txt {
        color: $dark-grey;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.65;
        margin-top: 14px;
    }
    &__list {
        margin-top: 46px;
        margin-bottom: 46px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        gap: 19px;
        border: 1px solid transparent;
        border-radius: 20px;
        transition: gap ease-in-out 0.3s, border-color ease-in-out 0.3s;
        &:hover {
            gap: 30px;
            border-color: $green;
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__ttl {
        color: $dark;
        font-size: 25px;
        font-weight: 800;
    }
    &__dsc {
        margin-top: 7px;
        color: $dark-grey;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.65;
    }
    @media only screen and (max-width: $laptop) {
        height: auto;
        background-image: none;
        padding: 80px 0px;
        &__content {
            padding: 0;
            padding-right: 100px;
        }
        &__title {
            font-size: 22px;
        }
        &__description {
            font-size: 30px;
            br {
                display: none;
            }
            &__txt {
                font-size: 16px;
            }
            &__list {
                margin: 26px 0;
                gap: 15px;
            }
            &__ttl {
                font-size: 16px;
            }
            &__dsc {
                font-size: 14px;
            }
        }
    }
    @media only screen and (max-width: $mobile) {
        padding: 30px 0;
        br {
            display: none;
        }
        &__content {
            padding: 0;
        }
        &__txt {
            font-size: 14px;
        }
        &__list {
            margin: 20px 0;
        }
        &__ttl {
            font-size: 20px;
        }
        &__dsc {
            font-size: 14px;
        }
        &__btn {
            text-align: center;
        }
    }
}
