<section class="contacts-links">
    <div class="contacts-links__container container">
        <div class="contacts-links__wrapper">
            <div class="contacts-links__img">
                <img src="../../static/img/content/fruits-pieces.jpg" alt="" />
            </div>
            <div class="contacts-links__content">
                <h2 class="contacts-links__title">We'd love to talk about how we can work together.</h2>
                <div class="contacts-links__txt">
                    Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley.
                </div>
                <div class="contacts-links__block">
                    <div class="contacts-links__wrap">
                        <div class="contacts-links__svg">
                            <img src="../../static/img/content/letter.png" alt="" />
                        </div>
                        <div class="contacts-links__text">
                            <h6 class="contacts-links__type">Massege</h6>
                            <div class="contacts-links__value">support@organic.com</div>
                        </div>
                    </div>
                    <div class="contacts-links__wrap">
                        <div class="contacts-links__svg">
                            <img src="../../static/img/content/phone.png" alt="" />
                        </div>
                        <div class="contacts-links__text">
                            <h6 class="contacts-links__type">Contact Us</h6>
                            <div class="contacts-links__value">+01 123 456 789</div>
                        </div>
                    </div>
                </div>
                <div class="contacts-links__social">{{> footer/socials}}</div>
            </div>
        </div>
    </div>
</section>
