<li class="news__item">
    <div class="news__bg" style="background-image: url(%=static=%img/content/man-and-tree.jpg)"></div>
    <div class="news__data">
        25 <br />
        Nov
    </div>
    <div class="news__block">
        <div class="news__man">{{Icon iconName='man' }} By Rachi Card</div>
        <h6 class="news__txt">Research More Organic Foods</h6>
        <div class="news__text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
        <button class="news__button btn btn--yellow btn--inline">
            Read More {{Icon iconName='arrow-right' }}
        </button>
    </div>
</li>
