<section class="news">
    <div class="news__container container">
        <div class="news__content">
            <div class="news__left">
                <div class="news__title">News</div>
                <h2 class="news__description">
                    Discover weekly content about <br />
                    organic food, & more
                </h2>
            </div>
            <button class="news__btn btn btn--white btn--bordered btn--inline">
                More News{{Icon iconName='arrow-right' }}
            </button>
        </div>
        <ul class="news__list">
            <li class="news__item">
                <div class="news__bg" style="background-image: url(%=static=%img/content/lettuce.jpg)"></div>
                <div class="news__data">
                    25 <br />
                    Nov
                </div>
                <div class="news__block">
                    <div class="news__man">{{Icon iconName='man' }} By Rachi Card</div>
                    <h6 class="news__txt">The Benefits of Vitamin D & How to Get It</h6>
                    <div class="news__text">
                        Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    </div>
                    <button class="news__button btn btn--yellow btn--inline">
                        Read More {{Icon iconName='arrow-right' }}
                    </button>
                </div>
            </li>
            <li class="news__item">
                <div
                    class="news__bg"
                    style="background-image: url(%=static=%img/content/red-tomatos.jpg)"
                ></div>
                <div class="news__data">
                    25 <br />
                    Nov
                </div>
                <div class="news__block">
                    <div class="news__man">{{Icon iconName='man' }} By Rachi Card</div>
                    <h6 class="news__txt">Our Favourite Summertime Tommeto</h6>
                    <div class="news__text">
                        Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    </div>
                    <button class="news__button btn btn--yellow btn--inline">
                        Read More {{Icon iconName='arrow-right' }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
