<section class="news">
    <div class="news__container container">
        <div class="news__content">
            <div class="news__left">
                <div class="news__title">News</div>
                <h2 class="news__description">
                    Discover weekly content about <br />
                    organic food, & more
                </h2>
            </div>
            <button class="news__btn btn btn--white btn--bordered btn--inline">
                More News{{Icon iconName='arrow-right' }}
            </button>
        </div>
        <ul class="news__list">
            {{> news/news-item-1 }} {{> news/news-item-2 }} {{> news/news-item-3 }} {{> news/news-item-4 }}
            {{> news/news-item-5 }} {{> news/news-item-6 }}
        </ul>
    </div>
</section>
