<nav class="menu">
    <ul class="menu__list">
        <li>
            <a href="/" class="menu__item">Home</a>
        </li>
        <li>
            <a href="/about.html" class="menu__item">About</a>
        </li>
        <li>
            <a href="" class="menu__item">Pages</a>
        </li>
        <li>
            <a href="/shop.html" class="menu__item">Shop</a>
        </li>
        <li>
            <a href="" class="menu__item">Projects</a>
        </li>
        <li>
            <a href="" class="menu__item">News</a>
        </li>
    </ul>
</nav>
