<section class="testimonial">
    <div class="testimonial__contaner container">
        <div class="testimonial__reviews">
            <div class="testimonial__title">Testimonial</div>
            <h2 class="testimonial__description">What Our Customer Saying?</h2>
            <div class="testimonial__card">
                <img src="../../static/img/content/woman.jpg" alt="" class="testimonial__img" />
            </div>
            <ul class="testimonial__stars">
                <li class="products__star">{{Icon iconName='star' iconWidth='24' iconHeight='26'}}</li>
                <li class="products__star">{{Icon iconName='star' iconWidth='24' iconHeight='26'}}</li>
                <li class="products__star">{{Icon iconName='star' iconWidth='24' iconHeight='26'}}</li>
                <li class="products__star">{{Icon iconName='star' iconWidth='24' iconHeight='26'}}</li>
                <li class="products__star">{{Icon iconName='star' iconWidth='24' iconHeight='26'}}</li>
            </ul>
            <div class="testimonial__txt">
                Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply dummy <br />
                text of the printing and typesetting industry. Lorem Ipsum has been.
            </div>
            <div class="testimonial__name">Sara Taylor</div>
            <div class="testimonial__consumer">Consumer</div>
            <div class="testimonial__navigation">
                {{Icon iconName='navigation' iconWidth='35' iconHeight='8'}}
            </div>
        </div>
        <div class="testimonial__numbers">
            <ul class="testimonial__list">
                <li class="testimonial__item">
                    <h2 class="testimonial__number">100%</h2>
                    <div class="testimonial__text">Organic</div>
                </li>
                <li class="testimonial__item">
                    <h2 class="testimonial__number">285</h2>
                    <div class="testimonial__text">Active Product</div>
                </li>
                <li class="testimonial__item">
                    <h2 class="testimonial__number">350+</h2>
                    <div class="testimonial__text">Organic Orchads</div>
                </li>
                <li class="testimonial__item">
                    <h2 class="testimonial__number">25+</h2>
                    <div class="testimonial__text">Years of Farming</div>
                </li>
            </ul>
        </div>
    </div>
</section>
