<section class="shop-single-health">
    <div class="shop-single-health__container container">
        <div class="shop-single-health__blocks">
            <div class="shop-single-health__block">
                <div class="shop-single-health__tag">Millets</div>
                <div class="shop-single-health__img">
                    <img src="../../static/img/content/hazelnut-nut.jpg" alt="" />
                </div>
            </div>
            <div class="shop-single-health__content">
                <div class="shop-single-health__title"></div>
                <div class="shop-single-health__stars"></div>
                <div class="shop-single-health__sale"></div>
                <div class="shop-single-health__price"></div>
                <div class="shop-single-health__text"></div>
                <div class="shop-single-health__quantity"></div>
                <form action="" class="shop-single-health__form">
                    <div class="shop-single-health__number">
                        <input type="number" />
                    </div>
                    <button class="shop-single-health__btn"></button>
                </form>
            </div>
        </div>
    </div>
</section>
