<section class="contacts-loc">
    <div class="contacts-loc__container container">
        <div class="contacts-loc__content">
            <div class="contacts-loc__block">
                <div class="contacts-loc__title">Location</div>
                <h2 class="contacts-loc__description">Our Farms</h2>
                <div class="contacts-loc__txt">
                    Established fact that a reader will be distracted by the readable content of a page when
                    looking a layout. The point of using.
                </div>
                <ul class="contacts-loc__list">
                    <li class="contacts-loc__item">
                        <div class="contacts-loc__img">
                            <img src="../../static/img/content/location.png" alt="" />
                        </div>
                        <div class="contacts-loc__add">
                            <div class="contacts-loc__address">New York, USA:</div>
                            <div class="contacts-loc__city">299 Park Avenue New York, New York 10171</div>
                        </div>
                    </li>
                    <li class="contacts-loc__item">
                        <div class="contacts-loc__img">
                            <img src="../../static/img/content/location.png" alt="" />
                        </div>
                        <div class="contacts-loc__add">
                            <div class="contacts-loc__address">London, UK:</div>
                            <div class="contacts-loc__city">30 Stamford Street, London SE1 9LQ</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
