<div
    style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
        width: 400px;
    "
>
    <button class="btn btn--dark">Default Button</button>
    <button class="btn btn--yellow">Default Button</button>

    <button class="btn btn--dark">Default Button {{Icon iconName='arrow-right' }}</button>
    <button class="btn btn--yellow">Default Button {{Icon iconName='arrow-right' }}</button>

    <button class="btn btn--white btn--bordered">Default Button</button>
    <button class="btn btn--yellow btn--bordered">Default Button</button>

    <a href="" class="btn btn--dark">Default Button</a>
    <a href="" class="btn btn--yellow">Default Button</a>

    <a href="" class="btn btn--dark btn--inline">Explore Now {{Icon iconName='arrow-right' }}</a>
    <a href="" class="btn btn--yellow btn--inline">Default Button</a>
</div>
