<section class="banners">
    <div class="banners__container container">
        <div class="banners__block">
            <a href="" class="banners__content banners__content--pink">
                <div class="banners__wrapper">
                    <div class="banners__txt banners__txt--white">Natural!!</div>
                    <h3 class="banners__text banners__text--white">Get Garden Fresh Fruits</h3>
                </div>
            </a>
            <a href="" class="banners__content banners__content--grey">
                <div class="banners__wrapper">
                    <div class="banners__txt banners__txt--green">Offer!!</div>
                    <h3 class="banners__text banners__text--dark">
                        Get 10% off <br />
                        on Vegetables
                    </h3>
                </div>
            </a>
        </div>
    </div>
</section>
