<section class="contacts-form">
    <div class="contacts-form__container container">
        <form action="" class="contacts-form__block">
            <div class="contacts-form__wrap">
                <label for="name" class="contacts-form__lbl">Full Name*</label>
                <input id="name" type="text" class="contacts-form__int" placeholder="Your Email Address" />
            </div>
            <div class="contacts-form__wrap">
                <label for="email" class="contacts-form__lbl">Your Email*</label>
                <input id="email" type="text" class="contacts-form__int" placeholder="example@yourmail.com" />
            </div>
            <div class="contacts-form__wrap">
                <label for="company" class="contacts-form__lbl">Company*</label>
                <input
                    id="company"
                    type="text"
                    class="contacts-form__int"
                    placeholder="yourcompany name here"
                />
            </div>
            <div class="contacts-form__wrap">
                <label for="subject" class="contacts-form__lbl">Subject*</label>
                <input id="subject" type="text" class="contacts-form__int" placeholder="how can we help" />
            </div>
            <div class="contacts-form__wrap">
                <label for="txa" class="contacts-form__lbl">Message*</label>
                <textarea
                    name=""
                    id="txa"
                    cols="30"
                    rows="10"
                    class="contacts-form__txa"
                    placeholder="hello there,i would like to talk about how to..."
                ></textarea>
            </div>
            <div class="contacts-form__btn">
                <button class="btn btn--dark btn--inline">Send Message</button>
            </div>
        </form>
    </div>
</section>
