<section class="eco-friendly">
    <div class="eco-friendly__img">
        <img src="../../static/img/content/valley.jpg" alt="" />
    </div>
    <div class="eco-friendly__container container">
        <div class="eco-friendly__content">
            <div class="eco-friendly__title">Eco Friendly</div>
            <h2 class="eco-friendly__description">
                Econis is a Friendly <br />
                Organic Store
            </h2>
            <div class="eco-friendly__block">
                <div class="eco-friendly__txt">Start with Our Company First</div>
                <div class="eco-friendly__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium <br />
                    doloremque laudantium. Sed ut perspiciatis.
                </div>
                <div class="eco-friendly__txt">Learn How to Grow Yourself</div>
                <div class="eco-friendly__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium <br />
                    doloremque laudantium. Sed ut perspiciatis.
                </div>
                <div class="eco-friendly__txt">Farming Strategies of Today</div>
                <div class="eco-friendly__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium <br />
                    doloremque laudantium. Sed ut perspiciatis.
                </div>
            </div>
        </div>
    </div>
</section>
