.organick-hero {
    background-image: url(../../static/img/content/background-image-page-eleven.jpg);
    height: 898px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
